<form action="/login" method="post">
  <input type='text' name="username" placeholder="username">
  <input type='text' name="password" placeholder="password">
  <input type='submit' value='Login'>
</form>

<form action="/users" method="post">
  <input type='text' name="username" placeholder="username">
  <input type='text' name="password" placeholder="password">
  <input type='submit' value='Sign Up'>
</form>