<form action="/posts" method="post">
  <input type='text' name="post[title]" placeholder="Title">
  <input type='text' name="post[link]" placeholder="Link">
  <input type='submit' value='Submit'>
</form>